.searchbar{
  width: 20vw;
  border: 3px solid #DFD3BD;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  color: #246390;
  font-weight: bold;
  font-size: calc(1rem + 0.5vw);
}

.searchbutton{
  width: 10vw;
}

button {
  text-align: center;
  border: 1px solid #DFD3BD;
  background: #DFD3BD;
  color: #246390;
  padding: 7px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  font-size: calc(1rem + 0.5vw);
  align-items: center;
  align-content: center;
}

body{
  background-color: #F5F4F3;
}