.searchbar{
  width: 20vw;
  border: 3px solid (--primary);
  padding: 5px;
  border-radius: 5px;
  outline: none;
  color: #246390;
  font-weight: bold;
  font-size: calc(1rem + 0.5vw);
}

.searchbutton{
  width: 10vw;
}

button {
  text-align: center;
  border: 1px solid var(--primary);
  background: var(--primary);
  color: var(--color);
  padding: 7px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  font-size: calc(1rem + 0.5vw);
  align-items: center;
  align-content: center;
}

body{
  background-color: #F5F4F3;
}

:root{
  --black:#000;
  --dark-black:#0E0F0F;
  --dark-blue:#246390;
  --light-white:#ADCAE1;
  --off-white:#F5F4F3;
  --beige:#DFD3BD;
  --blue:#246390;
  --primary: var(--beige);
  --color: var(--blue);
  --bgcolor: var(--off-white);
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}

.light{
  --primary: var(--beige);
  --color: var(--blue);
  --bgcolor: var(--off-white);
  --border: var(--dark-black);
}

.dark{
  --primary: var(--dark-blue);
  --color: var(--off-white);
  --bgcolor: var(--dark-black);
  --border: var(--off-white);
}

body{
  background-color: var(--bgcolor);
}

text{
  color: var(--color);
}

.btn{
  margin-bottom: 10px;
  margin-top: -200px;
  border-radius: 10rem;
  display: inline-block;
  width: 10vw;
}

.inner{
  background-color: var(--primary);
  border: 5px solid;
  border-radius: 6%;
  border-color: var(--border);
  width: 30rem;
  height: 40rem;
  margin: 2%;
  font-size: 2rem;
  align-self: center;
  color: var(--color);
  text-align: center;
}

h1{
  color: var(--color);
}
